
.contactpanel{
    background: #ffffff7a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #00000096 1px 2px 3px 1px;
    margin-top: 5rem;
}

.contactpanel p {
    color:black;
    font-size: 1.4em;
    margin: 0 25px;
    margin-top: 30px;
}

.contactpanel ul{
    font-size: 1.4em;
    margin-top: 35px;
    margin-left: auto;
    margin-right: AUTO;
    width: max-content;
    line-height: 1.7em;
    list-style-type: none;
    color: var(--gray);
    text-decoration: none;
    padding: 0 !important;
}

.contactpanel ul li a{
    color: var(--gray);
    text-decoration: none;
}

.contactpanel ul li a:hover{
    color: var(--yellow);
    text-shadow: white 1px 1px 3px;
}
.contactpanel ul span{
    margin-right: 12px;
    transform: scale(0.9);
    font-size: 0.9em;
}

h1.row.mt-3{
    font-size: xxx-large;
    font-weight: bold;
    justify-content: center;
    color: var(--gray);
}

.contact .panel-group{
    max-width: 30rem;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    .contactpanel{
        margin-top: 5rem;
        padding: 20px;
    }
    .contactpanel p {
        font-size: 1.6em;
        margin: 0 25px;
        margin-top: 30px;
    }

    .contactpanel ul{
        font-size: 1.4em;
    }
    h1.row.mt-3{
        font-size: xxx-large;
    }
}

@media screen and (max-width: 480px) {
    h1.row.mt-3{
        font-size: xx-large;
    }
    .contactpanel{
        margin-top: 3rem;
        padding: 5px;
    }

    .contactpanel p {
        font-size: 1.5em;
        margin: 5px;
    }

    .contactpanel ul{
        font-size: 1.3em;
    }

}