
.discover{
    width: 95%;
    height: max-content;
    background: #ffffff80;
    border-radius: 10px;
    box-shadow: #00000073 0 2px 4px 0;
    margin-top:20px;
}

#filter div{
   margin: auto;
    text-align: center;
}


#filter article{
    background: var(--gray);
    width: 165px;
    display: inline-flex;
    border-radius: 10px;
    border: var(--yellow) 3px solid;margin: 10px;
    color: white;
    text-align: center;
    box-shadow: #00000073 0 2px 4px 0;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

#filter article:hover{
    cursor: pointer;
    color: var(--yellow);
}

.all{
    background: var(--yellow)!important;
}
.all:hover{
    color: black!important;
}
#filter article span{
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.categories{
    width: 95%;
    background: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    BOX-SHADOW: #0000007a 1PX 1PX 3PX 0;
    margin-bottom: 10px;
}

.categories p{
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0;
}

.categories article{
    BACKGROUND: var(--yellow);
    width: 18rem;
    height: 118PX;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin:20px;
    box-shadow: #000000cc 0 2px 4px 0;
}

.card img{
    width: 95px;
    height: 95px;
    left: 10px;
    margin:auto;
    right: auto;
    top:0;
    bottom: 0;
    position: absolute;
    border-radius: 10px;
}

.card h5{
    font-weight: bold;
    position: absolute;
    top: 10px;
    margin: auto;
    right: 20px;
    width: 127px;
    font-size: 1em;
}

.categories article a{
    padding: 7px 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--gray);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: none;
}

.categories article a:hover{
    background: var(--darkyellow);
}


#info article{
    width: 273px;
}

#info article a{
    padding: 7px 9px;
}

.back{
    position: absolute;
    width: max-content;
    top: 10px  ;
    left: 10px;
    background: var(--gray);
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border:var(--yellow) 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back:hover{
    background: var(--darkyellow);
    color: white;
    cursor: pointer;
}

.back span{
    margin-right: 10px;
    background-image: url("../assets/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.tenerife{
    background-image: url("../assets/Tenerife.png");
}
.gran_canaria{
    background-image: url("../assets/Gran_Canaria.png");
}
.fuerteventura{
    background-image: url("../assets/Fuerteventura.png");
}
.lanzarote{
    background-image: url("../assets/Lanzarote.png");
}
.hierro{
    background-image: url("../assets/El_Hierro.png");
}
.gomera{
    background-image: url("../assets/La_Gomera.png");
}
.palma{
    background-image: url("../assets/La_Palma.png");
}
.graciosa{
    background-image: url("../assets/la_graciosa.png");
}
.islas{
    background-image: url("../assets/islas-canarias.png");
}


@media screen and (min-width: 481px) and (max-width: 769px) {
    #filter{
        display: block !important;
    }

    #filter article{
        width: 165PX;
    }

    .categories{
        width: 95%;
        padding: 10px;
    }

    .categories article{
        margin:20px;
    }

    .back{
        position: absolute;
        display: unset;
    }

    .category_info article{
        width: 273px;
    }
    .category_info article a{
        max-width: unset;
    }
    .category_info article p{
        width: 100px;
    }
}

@media screen and (min-width: 350px)  and (max-width: 480px) {
    #filter{
        display: block !important;
    }

    #filter article{
        width: 123PX;
    }

    #filter article span{
        display: unset;
        width: unset;
        margin-bottom: auto;
    }

    .categories{
        padding: 10px 0;
        width: 100%;
    }

    .categories article{
        margin:20px 0;
    }

    .back{
        position: unset;
        display: flex;
    }


    .category_info article p{
        width: calc(100% - 130px);
    }
}

@media screen and (max-width: 350px) {
    #filter{
        display: block !important;
    }

    #filter article{
        width: 123PX;
    }

    #filter article span{
        display: unset;
        width: unset;
        margin-bottom: auto;
    }

    .categories{
        padding: 10px 0;
        width: 100%;
    }

    .categories article{
        margin:20px 0;
    }

    .back{
        position: unset;
        display: flex;
    }

    .category_info article p{
        width: calc(100% - 130px);
        position: unset;
    }
    .category_info article img{
        position: unset;
    }
    .card h5{
        position: unset;
        margin:10px auto;
    }
    .category_info article a{
        position: unset;
    }
    .categories article , #info article{
        width: 95%;
        height: max-content;
    }

    .categories article p{
        width: calc(100% - 130px);
        position: unset;
    }
    .categories article img{
        position: unset;
    }

    .categories article a{
        position: unset;
    }
    .discover{
        width: 100%;
    }
}