:root {
    --yellow: #EEB523;
    --gray:#37342F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin:0;
    height: 100%;
}

/*estilos para el icono del menu*/
.icono-menu{
    margin: 10%;
    position: relative;
    z-index: 10;
    width: 5%;
    height: 5%;
}


/*Estilo para el logo*/
.cont-menu img{
    margin-bottom: 25%;
}
/*estilos para el contendor del menu*/
.cont-menu{
    box-shadow: 1px 0px 1px 0px var(--yellow);
    background-color: var(--yellow);
    width: 14%;
    min-width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 10;
}

/*Estilo para el logo*/
.icono-menu img{
    vertical-align: top;
    width: 220%;
    cursor: pointer;
}

/*Estilos para el listado del menú*/
.cont-menu ul{
    padding: 40% 0px 20px 0px;
    margin-top: 5%;
    list-style: none;
    text-align: center;
}

.cont-menu ul img{
    width: 80%;
    height: 80%;
    margin-top: -90px;
}

/*Estilo para cada boton*/
.boton1{
    background-color: white;
    margin-bottom: 7%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

}


.cont-menu ul li{
    color: var(--gray);
    display: block;
    text-decoration: none;
    padding: 10% 12%;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 0.75em;
    font-weight: bolder;
    text-align: left;
}

.cont-menu ul li:hover{
    background-color: #37342F;
    color: var(--yellow);
    border-radius: 10px;
}


/*Main_page*/

.main_page{
    margin-right: 0;
    left: auto;
    right: 0;
    height: max-content;
    min-height: 100%;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: calc(100vw - 14%);
    max-width: calc(100vw - 200px);
    padding: 66px 0 99px 0px;
    position:absolute
}

.login_button{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 100px;
    background-color: var(--yellow);
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 2px 9px;
    color:var(--gray);
    box-shadow: black 1px 1px 4px 1px;
}

.login_button:hover{
    color:black;
    box-shadow: black 1px 1px 4px 1px;
    background-color: #f3be3f;
}
.login_button p{
    padding: 10px;
    width: max-content;
    display: inline-block;
    position: relative;
}
.login_button p::after{
    content: "";
    background: black;
    width: 87%;
    position: absolute;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 18px;
    transition: 0.5s;
    transform: scaleX(0);
}
.login_button p:hover::after{
    transition: 0.5s;
    transform: scaleX(1);
}
.login_button span{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
    background: linear-gradient(to bottom,rgb(50 49 49), rgb(26 26 26));
    box-shadow: rgb(50 49 49) 2px 0px 1px 3px;
}

footer section{
    width: 49%;
    display: inline-grid;
    text-align: center;
}

footer section p{
    font-size: 1.2em;
}
footer section ul{
    font-size: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.icon-user-circle-o:before {
    transform: scale(1.5);
}

.principal{
    margin: auto;
    display: block;
    width: max-content;
    margin-top: 250px;
}
