*{
    font-family: "Raleway", serif;
}

.forum.col-12{
    padding: 13px;
    background: #ffffff7a;
    border-radius: 1em;
}



/*************CSS TABS*******************/

.tab-content{
    background-color: var(--yellow);
    border-radius: 2em;
}

button.col-2{
    width: 23.666667%;
}

.w3-btn, .w3-button {
    border: none;
    text-decoration: none;
    background-color: var(--yellow);
    cursor: pointer;
    color: var(--gray);
    font-weight: bold;
    border-radius: 2em;
}


.w3-button.tablink.w3-red{
    background-color: var(--gray);
    padding: 10px 10px;
    color: white!important;
}

/*************CSS TABLE*******************/


td {
    color: var(--gray);
    border-collapse: collapse;
}


/**********PAGINATION******/
a.page-link{
    color: var(--gray);
}

li.page-item.active .page-link{
    background-color: var(--gray);
    border-color: white;
}

    /**BUTTON SEARCH*/


.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px
}

.form-control {
    border: 1px solid #f8c146
}

/*****TABLE****/
table{
    font-weight: bold;
}


/**FORM ENTRY FORUM**/
form.add_form{
    background-color: transparent;
    border-radius: 1em;
    outline: none;
}

.label_forum{
    font-weight: bold;
    text-shadow: 0.1px 0.1px 0.1px;
    color: var(--gray);
}

.add_date{
    border-radius: 0.3em;
    border:0;
    box-shadow: 1px 1px 1px black;
    text-align: left;

}

textarea.add_date{
    resize: none;
}

.button-forum{
    padding: 0.6em 3.5em;
    font-weight: bold;
    border-radius: 15px;
    outline: none;
    border:0;
    background-color: var(--yellow);
    color: black;
}

.button-forum:hover{
    cursor: pointer;
    background-color: var(--gray);
    color: white;
}

input#image-change.form-control{
    color: var(--gray);
}


label.input-group-text, input.form-control{
    font-size: small;
}

label.input-group-text{
    color: white;
    background-color: var(--gray);
}

label.input-group-text:hover{
    cursor: pointer;
}

/*********FORM VALIDATION**********/
.form-control:focus {
    box-shadow: none!important;
}


/*********** VALID *****************/
form input[type="date"]:required:valid, form input[type="time"]:required:valid,
form input[type="text"]:required:valid, form textarea:required:valid{
    border:2px solid green;
    outline: none;
}

/******* ERROR **********/
form input[type="date"]:focus:required:invalid, form input[type="text"]:focus:required:invalid,
form input[type="time"]:focus:required:invalid, form textarea:focus:required:invalid{
    border:2px solid red;
    outline: none;
}

#place-error, #description-error, #material-error, #date-error, #time-error{
    font-size: small;
    color: black;
    display: none;
    text-shadow: #ffffffc4 0px 0px 29px;
    font-weight: bold;
}


@media (max-width: 360px) {
    *{
        font-size: xx-small;
    }

    img.img-thumbnail.img-fluid{
        display: none;
    }

    label#image-change.form-control, label.input-group-text, p.input-group-text{
        font-size: xx-small;
    }

    label.input-group-text, input.form-control{
        font-size: xx-small;
    }

    .forum.form-group.mt-5{
        margin-top: 5em!important;
    }

    button.col-2{
        width: 21.666667%
    }

    #place-error, #description-error, #material-error, #date-error, #time-error{
        font-size: xx-small;
    }
}

@media (min-width: 361px) and (max-width: 700px){
    *{
        font-size: x-small;
    }

    img.img-thumbnail.img-fluid{
        display: none;
    }

    #place-error, #description-error, #material-error, #date-error, #time-error{
        font-size: x-small;
    }

    label#image-change.form-control, label.input-group-text, p.input-group-text{
        font-size: xx-small;
    }

    label.input-group-text, input.form-control{
        font-size: xx-small;
    }

    .forum.form-group.mt-5{
        margin-top: 5em!important;
    }

    button.col-2{
        width: 21.666667%
    }
}


@media (min-width: 701px) and (max-width: 1023px) {
    *{
        font-size: large;
    }


    label#image-change.form-control, label.input-group-text, p.input-group-text{
        font-size: large;
    }

    label.input-group-text, input.form-control{
        font-size: large;
    }

    .forum.form-group.mt-5{
        margin-top: 5em!important;
    }

    button.col-2{
        width: 22.666667%
    }

    img.img-thumbnail.img-fluid{
        display: none;
    }


}


@media (min-width: 1023px) and (max-width: 1119px) {
    button.col-2{
        width: 23%
    }

}


