
.homeart{
    box-shadow: #00000073 0px 2px 4px 0px;
    border-radius: 0.4rem !important;
    width: 28rem;
    background-color: #fffc !important;
    border:none!important;
    margin:1rem;
    text-align: center;
}

.homeart img{
    border-radius: 0.4rem 0.4rem 0 0;
}

.homeart a{
    float: right;
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: black;
    font-weight: bold;
}

.homeart a:hover,.homeart a:focus,.homeart a:active{
    text-decoration: underline;
    background: #eab734 !important;
    border-color: #eab734 !important ;
}

.homeart a:focus{
    box-shadow:  0 0 0.25rem rgb(236, 187, 67) !important;
}


@media screen and (max-width: 480px) {
    .homeart{
        width: 94vw !important;
        margin-left: auto;
        margin-right: auto;
    }

}