*{
    font-family: "Fontello", "Raleway", serif;
}

.login{
    background: var(--yellow);
    box-shadow: #00000096 1px 2px 3px 1px;
}

form{
    padding:2em;
    background-color:var(--yellow);
    text-align: center;
    box-shadow: 2px 2px 5px black;
}


button.btn-primary{
    box-shadow: 2px 2px 5px black;
    border:0;
    background-color: var(--gray);
    border-color: #89775a;
}


button.btn-primary:hover{
    cursor: pointer;
    background-color: #976f30;
}


a.text-muted{
    font-size: 0.9em;
    font-weight: bold;
}

a.text-muted:hover{
    cursor: pointer;
}

