*{
    box-sizing:border-box;
    font-family: "Fontello", "Raleway", serif;
}

.content-login{
    margin: auto;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



form{
    width: min-content;
    height: max-content;
    padding:2.5em;
    border-radius:1em;
    background-color:var(--yellow);
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}



h2{
    text-align: center;
    margin-bottom: 0.3em;
    font-family: 'Raleway', serif;
    font-size: 2.2em;
    font-weight: bold;
    color: var(--gray);
}

form input{
    outline: none;
    text-align: left;
    width:min-content;
    padding:0.9em 2em;
    border: 0 solid #f6f6f6;
    border-radius:1em;
    background-color:white;
    margin:0.6em 0;
    display:inline-block;
    font-family: 'Raleway', serif;
    font-size: 0.85em;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;

}


form input[type="submit"]{
    box-shadow: 2px 2px 5px black;
    font-family: 'Raleway', serif;
    width:13vh;
    height: 3em;
    padding:3% 1%;
    text-align: center;
    margin-top:1em;
    margin-left: 14.2em;
    border:0;
    border-radius:2em;
    display:block;
    color:white;
    background-color:var(--gray);
}

form input[type="submit"]:hover{
    background-color: #4B2A22;
    color: white;
    font-family: 'Raleway', serif;
    cursor: pointer;
    margin-left: 12.2em;
    margin-right: auto;
}

.text-mail-login{
    font-family: "Fontello", "Raleway", serif;
    font-weight: 100;
    font-weight: bold;
    content: "\E806";
    outline: none;
}

.text-password-login{
    font-family: "Fontello", "Raleway", serif;
    font-weight: 100;
    font-weight: bold;
    content: "\E806";
    outline: none;
}

.forgot-password{
    margin-left: 7.8em;
    margin-right: -2em;
    font-size: 0.8em;
}

.forgot-password:hover{
    cursor: pointer;
    font-weight: bold;
    margin-left: 4.8em;
    margin-right: -2em;
    font-size: 0.8em;
}

h2{
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
}

@media screen and (min-width: 0em) and (max-width: 23em) {
    .content-login{
        width: 100%;
        align-content: center;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    form{
        height: max-content;
        max-height: 23em;
        max-width: 20em;

    }

    form input[type="submit"]{
        margin-top: 1em;
        padding: 1em 2.5em;
        margin-right: auto;
        margin-left: 10em;
        height: max-content;
        width: min-content;
    }

    form input[type="submit"]:hover{
        background-color: #4B2A22;
        color: white;
        cursor: pointer;
    }



    h2{
        font-size: 1.7em;
        margin-bottom: 0.7em;
    }


    form input{
        font-size: 0.6em;
        height: max-content;
        width: min-content;
    }

    .forgot-password{
        font-size: 0.6em;
    }

    h2{
        font-size: 1.5em;
        margin-top: 0.1em;
        margin-bottom: 0.4em;
    }
}




@media screen and (min-width: 23em) and (max-width: 48em) {
    .content-login{
        width: 100%;
        align-content: center;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    form{
        height: max-content;
        max-height: 23em;
        max-width: 20em;

    }

    form input[type="submit"]{
        margin-top: 3em;
        padding: 1em 1em;
        margin-right: auto;
        margin-right: auto;
        height: max-content;
        width: min-content;
    }

    form input[type="submit"]:hover{
        background-color: #4B2A22;
        color: white;
        cursor: pointer;
    }

    form input{
        font-size: 0.7em;
        height: max-content;
        width: min-content;
    }

    .forgot-password{
        font-size: 0.7em;
    }

    h2{
        font-size: 2em;
        margin-top: 0.3em;
        margin-bottom: 0.8em;
    }


}

@media screen and (min-width: 48em) and (max-width: 60em) {
    .content-login{
        width: 100%;
        align-content: center;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    form{
        height: auto;
        max-height: min-content;
        max-width: min-content;

    }

    form input[type="submit"]{
        margin-top: 3em;
        padding: 1em 1em;
        margin-right: auto;
        margin-right: auto;
        height: max-content;
        width: min-content;
    }

    form input[type="submit"]:hover{
        background-color: #4B2A22;
        color: white;
        cursor: pointer;
    }

    form input{
        font-size: 1.3em;
        height: min-content;
        width: min-content;
    }

    .forgot-password{
        font-size: 1.4em;
        margin-left: 4.8em;
        margin-right: -2em;
    }

    h2{
        font-size: 4em;
        margin-top: 0.3em;
        margin-bottom: 0.8em;
    }

}