*{
    font-family: "Raleway", serif;
    font-size: small;
}

a{
    font-size: 1.2em;
}

.profile{
    background: var(--yellow);
    box-shadow: #00000096 1px 2px 3px 1px;
}

form{
    text-align: center;
    border-radius: 5px;
    padding: 2em;
}

button.btn.btn-primary{
    font-size: medium;
}

button.btn.btn-primary, label.input-group-text{
    box-shadow: 2px 2px 5px black;
    border:0;
    background-color: var(--gray);
    border-color: #89775a;
    color: white;
}


button.btn-primary:hover{
    background-color: #976f30;
}

button.btn-primary:hover, label.input-group-text{
    cursor: pointer;
}


input#img-change.form-control{
    color: var(--gray);
}

h5{
    color: var(--gray);
    text-align: left;
}


@media (max-width: 700px) {
    *{
        font-size: x-small;
    }

    .profile{
        width: 90vw;
        height: max-content;
    }

    img.img-thumbnail.img-fluid{
        width: 12em;
    }

}

@media (min-width: 701px) and (max-width: 1023px) {
    *{
        font-size: large;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    *{
        font-size: small;
    }

    img.img-thumbnail.img-fluid{
        width: 13em;
    }
}


