*{
    box-sizing:border-box;
    font-family: "Fontello", "Raleway", serif;
}


form{
    padding:2em;
    background-color:var(--yellow);
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}


button.btn-primary{
    box-shadow: 2px 2px 5px black;
    border:0;
    background-color: var(--gray);
    border-color: #89775a;
}


button.btn-primary:hover{
    cursor: pointer;
    background-color: #976f30;
}


