*{
    font-family: "Fontello", "Raleway", serif;
}


form{
    padding:2em;
    background-color:var(--yellow);
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

/*********** VALID *****************/
form input[type="email"]:required:valid, form input[type="password"]:required:valid{
    border:2px solid green;
    outline: none;
}

/******* ERROR **********/
form input[type="email"]:focus:required:invalid, form input[type="password"]:focus:required:invalid{
    border:2px solid red;
    outline: none;
}

#maillogin-error, #psw-error, #psw2-error{
    font-size: small;
    font-weight: bold;
    color: black;
    display: none;
    text-shadow: #ffffffc4 0 0 29px;
    max-width: 19rem;
}

button.btn-primary{
    box-shadow: 2px 2px 5px black;
    border:0;
    background-color: var(--gray);
    border-color: #89775a;
}


button.btn-primary:hover{
    cursor: pointer;
    background-color: #976f30;
}

h2.mb-4{
    font-size: xx-large;
    font-weight: bold;
}

@media (max-width:400px) {
    *{
        font-size: small;
    }

    h2.mb-4{
        font-size: x-large;
    }
}
