:root {
    --yellow: #EEB523;
    --gray:#37342F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin:0;
    height: 100%;
}

/*estilos para el icono del menu*/
.icono-menu{
    margin: 40px;
    position: relative;
    z-index: 10;

}


/*Estilo para el logo*/
.cont-menu img{
    margin-bottom: 100px;
}
/*estilos para el contendor del menu*/
.cont-menu{
    box-shadow: 2px 0px 5px 2px var(--yellow);
    background-color: var(--yellow);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/*Estilo para el logo*/
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/*Estilos para el listado del menú*/
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    margin-top: 10px;
    margin-bottom: 100px;
    list-style: none;
    text-align: center;
;
}

/*Estilo para cada boton*/
.boton1{
    background-color: white;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;

}



.boton1 img{
    width: 60px;
    height: 55px;
}

.cont-menu ul li{
    color: var(--gray);
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 17px 50px;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
}

.cont-menu ul li:hover{
    background-color: #37342F;
    color: var(--yellow);
    border-radius: 15px;
}


/*Main_page*/

.main_page{
    position: fixed;
    width: calc(100vw - 400px);
    margin-right: 0;
    left: auto;
    right: 0;
    height: 100%;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_button{
 position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 100px;
    background-color: var(--yellow);
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-size: 1.1em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 2px 9px;
    box-shadow: black 1px 1px 4px 1px;
}
.login_button p{
    padding: 10px;
    width: max-content;
    display: inline-block;
    color:var(--gray);
}
.login_button span{
    width: 30px;
    height: 30px;
    display: inline-block;
}

footer{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
    background: linear-gradient(to bottom,rgb(50 49 49), rgb(26 26 26));
    box-shadow: rgb(50 49 49) 2px 0px 1px 3px;
}

footer section{
    width: 49%;
    display: inline-grid;
    text-align: center;
}

footer section p{
    font-size: 1.2em;
}
footer section ul{
    font-size: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}