:root {
    --yellow: #EEB523;
    --gray:#37342F;
    --darkyellow:#976f30;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif !important;
}

html, body{
    margin:0;
    height: 100%;
}

/*estilos para el icono del menu*/
.icono-menu{
    margin: 10px;
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: var(--yellow);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: none;
}


/*Estilo para el logo*/
.cont-menu img{
    margin-bottom: 25%;
}
/*estilos para el contendor del menu*/
.cont-menu{
    box-shadow: 1px 0 1px 0 var(--yellow);
    background-color: var(--yellow);
    width: 14%;
    min-width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/*Estilo para el logo*/
.icono-menu img{
    width: 81%;
    cursor: pointer;
    height: auto;
    margin: 0;
}

/*Estilos para el listado del menú*/
.cont-menu ul{
    padding: 25% 0 20px 0;
    list-style: none;
    text-align: center;
}

.cont-menu ul img{
    width: 80%;
    height: 80%;
}

/*Estilo para cada boton*/
.boton1{
    color: var(--gray);
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bolder;
    text-align: left;
    width: 100%;
}

.boton1 a{
    text-decoration: none;
    padding: 10% 12%;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--gray);
}

.cont-menu ul li{
    background-color: white;
    margin-bottom: 7%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.cont-menu ul li:hover{
    background-color: #37342F;
    color: var(--yellow);
    border-radius: 10px;
}

.cont-menu ul li:hover a{
    color: var(--yellow);
}


/*Main_page*/

.main_page{
    margin-right: 0;
    left: auto;
    right: 0;
    height: max-content;
    min-height: 100%;
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: calc(100vw - 14%);
    max-width: calc(100vw - 200px);
    position:absolute
}

.login-box{
    justify-content: right;
}

.login_button{
    border-radius: 100px !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow)!important;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color:var(--gray)!important;
    box-shadow: #00000073 0px 2px 4px 0px;
    margin-top:1rem !important;
}

.login_button:hover, .login_button:focus , .login_button:active {
    color:black;
    box-shadow: rgba(0, 0, 0, 0.58) 0px 2px 4px 0px;
    background-color: #f3be3f;
}

.login_button:focus{
    box-shadow:  0 0 0.25rem rgb(236, 187, 67) !important;
}
.login_button p{
    width: max-content;
    display: inline-block;
    position: relative;
    margin:0 !important;
}
.login_button p::after{
    content: "";
    background: black;
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 18px;
    transform: scaleX(0);
    transition: 0.5s;
}

.login_button:hover p::after{
    transform: scaleX(1);
    transition: 0.5s;
}

.login_button span{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
}

footer{
    background: linear-gradient(to bottom,rgb(50 49 49), rgb(26 26 26));
    box-shadow: rgb(50 49 49) 2px 0 1px 3px;
}

footer section p{
    font-size: 1.1em;
    margin:0 !important;
    height: max-content;
}

footer .creators ul li{
    text-align: left;
}

footer .links ul{
    display: inline-flex;
    list-style: none;
    padding: 0 !important;
}

footer .links ul a{
    padding: 0 !important;
    margin:5px;
}

footer .links ul a:hover{
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

footer .links ul span{
    font-size: larger;
}

footer .copyright{
    font-size: 1em;
    font-family: Arial;
    background: #111111;
    margin:0 !important;
    padding: 2px;
}
footer section{
    width: 49%;
    display: inline-grid;
    text-align: center;
}

footer section ul{
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top:0 !important;
    margin-bottom:0 !important;
    list-style: square;
}

.icon-user-circle-o:before {
    transform: scale(1.5);
}


@media screen and (min-width: 0em) and (max-width: 70em) {
    .cont-menu ul {
        display: none;
    }
    .cont-menu {
        height: 0;
    }
    .main_page{
        width: 100%;
        max-width: 100%;
    }

    .icono-menu {
        display: flex;
    }

}

@media screen and (min-width: 481px) and (max-width: 769px) {
    footer section p{
        font-size: 1.1em;
    }
    footer section{
        margin:20px 0;
    }

}

@media screen and (max-width: 480px) {
    footer section p{
        font-size: 1em;
    }
    footer section{
        margin:20px 0;
    }

}
