:root {
    --yellow: #EEB523;
    --gray:#37342F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}

html, body{
    margin:0;
    height: 100%;
}

/*estilos para el icono del menu*/
.icono-menu{
    margin: 20px;
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: var(--yellow);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: none;
}


/*Estilo para el logo*/
.cont-menu img{
    margin-bottom: 25%;
}
/*estilos para el contendor del menu*/
.cont-menu{
    box-shadow: 1px 0 1px 0 var(--yellow);
    background-color: var(--yellow);
    width: 14%;
    min-width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/*Estilo para el logo*/
.icono-menu img{
    width: 81%;
    cursor: pointer;
    height: auto;
    margin: 0;
}

/*Estilos para el listado del menú*/
.cont-menu ul{
    padding: 25% 0 20px 0;
    list-style: none;
    text-align: center;
}

.cont-menu ul img{
    width: 80%;
    height: 80%;
}

/*Estilo para cada boton*/
.boton1{
    color: var(--gray);
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bolder;
    text-align: left;
    width: 100%;
}

.boton1 a{
    text-decoration: none;
    padding: 10% 12%;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--gray);
}

.cont-menu ul li{
    background-color: white;
    margin-bottom: 7%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.cont-menu ul li:hover{
    background-color: #37342F;
    color: var(--yellow);
    border-radius: 10px;
}

.cont-menu ul li:hover a{
    color: var(--yellow);
}


/*Main_page*/

.main_page{
    margin-right: 0;
    left: auto;
    right: 0;
    height: max-content;
    min-height: 100%;
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: calc(100vw - 14%);
    max-width: calc(100vw - 200px);
    position:absolute
}

.login_button{
    position: absolute;
    right: 24px;
    top: 1em;
    border-radius: 100px;
    background-color: var(--yellow);
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 4px 9px;
    color:var(--gray);
    box-shadow: black 1px 1px 4px 1px;
}

.login_button:hover{
    color:black;
    box-shadow: black 1px 1px 4px 1px;
    background-color: #f3be3f;
}
.login_button p{
    padding: 10px;
    width: max-content;
    display: inline-block;
    position: relative;
}
.login_button p::after{
    content: "";
    background: black;
    width: 87%;
    position: absolute;
    height: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 18px;
    transform: scaleX(0);
}

.login_button span{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer{
    width: 100%;
    height: 90px;
    bottom: 0;
    color: white;
    padding: 5px;
    background: linear-gradient(to bottom,rgb(50 49 49), rgb(26 26 26));
    box-shadow: rgb(50 49 49) 2px 0 1px 3px;
    margin-top: 10px;
    display: block;
}

footer section{
    width: 49%;
    display: inline-grid;
    text-align: center;
}

footer section p{
    font-size: 1.2em;
}
footer section ul{
    font-size: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.icon-user-circle-o:before {
    transform: scale(1.5);
}

.main_content{
    width: 100%;
    height: max-content;
    min-height: calc(100vh - 186px);
    margin-top: 86px;
    display: flex;
    position: relative;
}

.vcenter{
    align-items: center;
}

.hcenter{
    justify-content: center;
}

@media screen and (min-width: 0em) and (max-width: 70em) {
    .cont-menu ul {
        display: none;
    }
    .cont-menu {
        height: 0;
    }
    .main_page{
        width: 100%;
        max-width: 100%;
    }

    .icono-menu {
        display: flex;
    }

}

@media screen and (min-width: 481px) and (max-width: 769px) {
    footer section p{
        font-size: 1.1em;
    }

}

@media screen and (max-width: 480px) {
    footer section p{
        font-size: 1em;
    }

}
