:root {
    --yellow: #EEB523;
    --gray:#37342F;
}

*{
    font-family: "Fontello", "Raleway", serif;
}



form.rounded.mt-3{
    padding:1.5em;
    background-color:var(--yellow);
    text-align: center;
    box-shadow: 2px 2px 5px black;
    font-size: small;

}


textarea#floatingTextarea2.form-control.mb-3{
    resize: none;
    font-size: small;
}

label{
    font-size: small;
}


button.btn-primary{
    box-shadow: 2px 2px 5px black;
    font-size: medium;
    background-color: var(--gray);
    border: 0 #89775a;
}


button.btn-primary:hover{
    cursor: pointer;
    background-color: #976f30;
}

h1.row.mt-3 {
    font-weight: bold;
    font-size: 3.5em;
    justify-content: center;
    text-transform: uppercase;
    color: var(--gray);
}


h2.mb-4{
    font-size: xx-large;
    font-weight: bold;
}


span, span.text-propuesta{
    font-weight: bold;
    font-size: small;
}


p.text1{
    font-weight: bold;
    font-size: large;
    margin-left: 3em;
    background-color: #ffffff7a;
    text-align: center;
    border-radius: 6px;
}

p.text2{
    font-weight: normal;
    font-size: large;
    margin-left: 3em;
    background-color: #ffffff7a;
    text-align: center;
    border-radius: 6px;
}


/*********FORM VALIDATION**********/
.form-control:focus {
    box-shadow: none!important;
}


/*********** VALID *****************/
form input[type="email"]:required:valid, form input[type="text"]:required:valid, form textarea:required:valid{
    border:2px solid green;
    outline: none;
}

/******* ERROR **********/
form input[type="email"]:focus:required:invalid, form input[type="text"]:focus:required:invalid, form textarea:focus:required:invalid{
    border:2px solid red;
    outline: none;
}


@media (max-width: 700px) {
    *{
        font-size: x-small;
    }

    h2.mb-4{
        font-size: x-large;
    }

    p{
        font-size: small;
    }

    h1.row.mt-3, p.text1, p.text2{
        display: none;
    }
}

@media (min-width: 701px) and (max-width: 1023px) {
    input#name.form-control, button.btn-primary, label, input#mail-suggestion.form-control, textarea#floatingTextarea2.form-control.mb-3{
        font-size: small;
    }

    span, span.text-propuesta{
        font-size: small;
    }
    h2.mb-4{
        font-size: x-large;
    }

    p.text1, p.text2{
        font-size: medium;
    }

    h1.row.mt-3{
        display: none;
    }

}


@media (min-width: 701px) and (max-width: 1199px) {
    section.suggestion{
        font-size: large;
    }
    input#name.form-control, button.btn-primary, label, input#mail-suggestion.form-control,  span, span.text-propuesta, textarea#floatingTextarea2.form-control.mb-3{
        font-size: large;
    }
    h2.mb-4{
        font-size: xx-large;
    }

    p.text1, p.text2{
        font-size: x-large;
    }

    h1.row.mt-3{
        font-size: 3.5em;
    }

}







